body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* This color will apply to the outer background */
  min-height: 100vh;
}

#__next {
  width: 100%;
  max-width: 560px; /* Adjust this value to suit the design */
  margin: 0 auto;
  height: 90vh;
  background-color: #ffffff; /* This color will apply to the visible app background */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
}

body.day {
  background: linear-gradient(to bottom, #ffddcc, #ffccaa);
  color: #000;
}

body.night {
  background: linear-gradient(to bottom, #121212, #1a1a1a);
  color: #fff;
}

@media (max-width: 768px) {
  #__next {
    max-width: 100%;
    border-radius: 0;
  }
}
