.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f3f4f6, #dce1e3);
}

.iconContainer {
  display: flex;
  gap: 50px;
}

.timeOfDayButton {
  background: none;
  border: none;
  cursor: pointer;
}

.timeOfDayIcon {
  font-size: 120px;
  color: #ffcc00; /* Adjust color as needed */
  transition: transform 0.3s ease;
}

.timeOfDayButton:hover .timeOfDayIcon {
  transform: scale(1.1);
}
